# Artefakty Rusta
/target/
/debug/
**/*.rs.bk
*.pdb
mutants.out*/

# Artefakty Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
build/
dist/
coverage/
.nyc_output/
.next/
.nuxt/
.parcel-cache/
.eslintcache
*.tsbuildinfo

# Artefakty Pythona
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
pip-wheel-metadata/
share/python-wheels/
*.egg
.mypy_cache/
.pytest_cache/
.cache/
.hypothesis/
.pyre/
.mr.developer.cfg
.python-version
__pypackages__/
htmlcov/

# Inne pliki tymczasowe i ustawienia
.DS_Store
*.swp
*.swo
*.tmp
.idea/
.vscode/
